@page "/donate"

<h1>Send me a beer</h1>
<p></p>
<p>Feel free to <a href='https://giveabeer.me/tsukinia' target='_blank'>send me a beer</a> if you're enjoying this app</p>
<p><span class="oi oi-thumb-up large_font" aria-hidden="true"></span></p>